<game-board>
	<header-text /><br />
  <div each={ (row, i) in state.board }>
    <ox-field each={ (field, j) in row } x={ i } y={ j } />
  </div>
	<new-game-button />
  <script>
    export default {
      async onMounted() {
        this.update({
          board: this.appState.board
        });
      }
    }
  </script>
</game-board>